<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB22Q7qp7cLtSbSV36xYWChU-J1UJg3L94</string>
	<key>GCM_SENDER_ID</key>
	<string>529288831226</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tabajara.trackly.trackly</string>
	<key>PROJECT_ID</key>
	<string>trackly-6b3da</string>
	<key>STORAGE_BUCKET</key>
	<string>trackly-6b3da.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:529288831226:ios:0ab9dfb574f962a1756943</string>
</dict>
</plist>

